
body{
background:#d4d7db;
}
.main{
background-color:cyan;
width:371px;
height:auto;
overflow:hidden;
margin-left:50%;
transform:translateX(-50%);
border-radius:10px;
float:left;
padding:10px;
}
.months{
width:240px;
height:213px;
margin:5px;
background:white;
float:left;
}
.week{
width:240px;
height:30px;
background:#d7dbe2;
}
.week td{
border:2px solid white;
border-radius:5px;	
width:28px;
text-align:center;
}
.month_label{
text-align:center;
    height: 24px;
    font-size: 20px;
}
#date_1,#date_2{
border-radius:5px;
}

.year_pick{
width:500px;
overflow:hidden;
text-align:center;
background:white;
padding:5px;	
border-radius:5px;
font-size:18px;
margin-left:35px;
}

.year_box{
float:left;
margin-left:107px;
}

#picker{
	display:none;
	width:570px;
	height:250px;
	overflow:hidden;
}
.arrow{
	margin-top:100px;
	margin-left:5px;
}
#inner,#inner_1{
	text-align:center;
	float:left;
}
#def,#ghi{
	height:15px;
}
.default{
	float:left;
	margin:20px;
	border-radius:5px;
	background:white;
	padding:10px;
}
.upper,#div_print{
	overflow:hidden;
}
#div_print{
width:100%;
height:auto;
text-align:center;
}
.upper_p{
float:left;
margin:20px 33px 0px;
}
h1{
margin-left:50%;
margin-top:5%;
transform:translateX(-20%);
}
